.sidebar{
    width: 12rem;
    background-color: #f9f9f9;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    height: 5rem;
   display: flex;
   align-items: center;
   padding-left: 1.4rem;
   gap: 0.6rem;
   cursor: pointer;
}
.sidebar-logo-title {
    font-size: 20px;
    font-weight: 650;
}

.sidebar-links {
    flex-grow: 1;
}

.sidebar-footer {
    height: 4rem;
}